<!DOCTYPE html>
<html>
  <head>
    <title>Craigslist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Craigslist</h1>
      <nav>
        <%= link_to "Add a new category", new_category_path %>
      </nav>
    </header>

    <%= yield %>
  </body>
</html>
